In [21]:
import tabula
import numpy as np
import pandas as pd
import os

pdf_path = "c://aaa/PDFs/Nohal_0810.pdf"

dfs = tabula.read_pdf(pdf_path, pages='all')
# read_pdf returns list of DataFrames
print(len(dfs))
dfs[0]

14

               הרכב הסיוע         רמת הכנסה
0  אחוז מענק  אחוז הלוואה  מהכנסה  עד הכנסה
1                10%  90%          3,758  0
2                40%  60%      5,011  3,759
3                70%  30%      6,263  5,012
4                100%  0%             6,264